@font-face {
    font-family: 'Gramatika Slanted';
    src: url('Gramatika-Slanted.woff2') format('woff2'),
        url('Gramatika-Slanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gramatika';
    src: url('Gramatika-Regular.woff2') format('woff2'),
        url('Gramatika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
