/**
 * ==============================================
 * Gradient anim
 * ==============================================
 */

@keyframes gradient {
    from {
        background-position: 100% 0%;
    }

    to {
        background-position: 0% 0%;
    }
}

@keyframes zoneRougeChangeBgcolor {
    0% {
        background-color: #fa748c;
    }

    50% {
        background-color: #e59a70;
    }
    
    100% {
        background-color: #fa748c;
    }
}

@-webkit-keyframes zoneRougeChangeBgcolor {
    0% {
        background-color: #fa748c;
    }

    50% {
        background-color: #e59a70;
    }

    100% {
        background-color: #fa748c;
    }
}



/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse-container {
    // display: block;
    position: absolute;
    right: 37px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
    display: none;
    
    .is-playing & {
        display: block;
    }
    
    .listened & {
        right: 100px;
    }
}
.dot-pulse {
    display: block;
    position: relative;
    left: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: $green2;
    color: $green2;
    box-shadow: 9999px 0 0 -5px $green2;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: $green2;
    color: $green2;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px $green2;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px $green2;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px $green2;
    }

    30% {
        box-shadow: 9984px 0 0 2px $green2;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px $green2;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px $green2;
    }

    30% {
        box-shadow: 9999px 0 0 2px $green2;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px $green2;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px $green2;
    }

    30% {
        box-shadow: 10014px 0 0 2px $green2;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px $green2;
    }
}